ARCGIS_USERNAME=example_user
ARCGIS_PASSWORD=example_password
# HAPI app identifier: base64("app_name:email"), e.g. run:
# export HAPI_APP_IDENTIFIER=$(echo -n "hdx-cod-ab-status:you@example.com" | base64)
HAPI_APP_IDENTIFIER=
